rules_version = '2';
// Updated rules
service cloud.firestore {
  match /databases/{database}/documents {
    match /Teachers/{teacherId} {
      allow read, write: if true;
    }
    match /AttendanceLogs/{logId} {
      allow read, write: if true;
    }
  }
}
